nav{
    display: flex;
    text-align: center;
    position:sticky;
    margin: auto;
    z-index: inherit;
margin-left: 500px;
height: auto;
    border-radius: 5;
    /*background-color: lightcoral;*/
    box-shadow: lightslategray,40,40;
}

button{
    /* display: flex;
    text-align: center;
    position: center ; */
    height: 50px;
    border-radius: 10px;
    margin-top: 200px;
    background-color: lightblue
    
}